In [2]:
import pandas as pd

df = pd.read_excel("GPTW.xlsx")

In [3]:
headers = df.iloc[2]
df = df[5:]
df.columns = headers
df = df.reset_index(drop=True)
df.head()

2,NaN,NaN,NaN,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,NaN,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time
0,Statements,I am given the resources and equipment to do m...,71,70,70,69,76,79,NaN,87,...,NaN,72,73,66,66,73,78,NaN,70,80
1,NaN,This is a physically safe place to work.,86,84,86,86,87,84,NaN,93,...,NaN,88,85,83,84,87,90,NaN,86,86
2,NaN,Everyone has an opportunity to get special rec...,58,55,57,57,63,64,NaN,68,...,NaN,63,58,53,52,54,63,NaN,57,65
3,NaN,People here are willing to give extra to get t...,71,68,70,71,74,76,NaN,77,...,NaN,72,70,68,70,73,77,NaN,71,74
4,NaN,You can count on people to cooperate.,66,63,66,67,67,69,NaN,72,...,NaN,68,66,64,63,66,70,NaN,66,72

In [4]:
new_columns = ["Category", "Question", "Overall"]
df.columns = new_columns + list(df.columns[3:])
df.head()

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,NaN,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time
0,Statements,I am given the resources and equipment to do m...,71,70,70,69,76,79,NaN,87,...,NaN,72,73,66,66,73,78,NaN,70,80
1,NaN,This is a physically safe place to work.,86,84,86,86,87,84,NaN,93,...,NaN,88,85,83,84,87,90,NaN,86,86
2,NaN,Everyone has an opportunity to get special rec...,58,55,57,57,63,64,NaN,68,...,NaN,63,58,53,52,54,63,NaN,57,65
3,NaN,People here are willing to give extra to get t...,71,68,70,71,74,76,NaN,77,...,NaN,72,70,68,70,73,77,NaN,71,74
4,NaN,You can count on people to cooperate.,66,63,66,67,67,69,NaN,72,...,NaN,68,66,64,63,66,70,NaN,66,72

In [5]:
df["Category"] = df["Category"].fillna(method="ffill")
df.head()

C:\Users\Ayushee\AppData\Local\Temp\ipykernel_26008\1759491498.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Category"] = df["Category"].fillna(method="ffill")

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,NaN,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time
0,Statements,I am given the resources and equipment to do m...,71,70,70,69,76,79,NaN,87,...,NaN,72,73,66,66,73,78,NaN,70,80
1,Statements,This is a physically safe place to work.,86,84,86,86,87,84,NaN,93,...,NaN,88,85,83,84,87,90,NaN,86,86
2,Statements,Everyone has an opportunity to get special rec...,58,55,57,57,63,64,NaN,68,...,NaN,63,58,53,52,54,63,NaN,57,65
3,Statements,People here are willing to give extra to get t...,71,68,70,71,74,76,NaN,77,...,NaN,72,70,68,70,73,77,NaN,71,74
4,Statements,You can count on people to cooperate.,66,63,66,67,67,69,NaN,72,...,NaN,68,66,64,63,66,70,NaN,66,72

In [6]:
filtered_df = df[df["Category"] == "Statements"]
filtered_df.head()

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,NaN,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time
0,Statements,I am given the resources and equipment to do m...,71,70,70,69,76,79,NaN,87,...,NaN,72,73,66,66,73,78,NaN,70,80
1,Statements,This is a physically safe place to work.,86,84,86,86,87,84,NaN,93,...,NaN,88,85,83,84,87,90,NaN,86,86
2,Statements,Everyone has an opportunity to get special rec...,58,55,57,57,63,64,NaN,68,...,NaN,63,58,53,52,54,63,NaN,57,65
3,Statements,People here are willing to give extra to get t...,71,68,70,71,74,76,NaN,77,...,NaN,72,70,68,70,73,77,NaN,71,74
4,Statements,You can count on people to cooperate.,66,63,66,67,67,69,NaN,72,...,NaN,68,66,64,63,66,70,NaN,66,72

In [7]:
filtered_df.shape

(66, 4433)

In [8]:
# List of key statements to filter
key_statements = [
    "I am offered training or development to further myself professionally.",
    "Promotions go to those who best deserve them.",
    "Management shows appreciation for good work and extra effort.",
    "People care about each other here.",
    "People here are treated fairly regardless of their race.",
    "People here are treated fairly regardless of their sexual orientation.",
    "People here are treated fairly regardless of their gender.",
    "People here are treated fairly regardless of their age.",
    "People here are paid fairly for the work they do.",
    "Management delivers on its promises.",
    "Management is honest and ethical in its business practices.",
    "If I am unfairly treated, I believe I'll be given a fair shake if I appeal.",
    'My work has special meaning: this is not "just a job."',
    "I feel I make a difference here.",
    "When I look at what we accomplish, I feel a sense of pride.",
    "I want to work here for a long time.",
    "Management is approachable, easy to talk with.",
    "Management recognizes honest mistakes as part of doing business.",
    "Management keeps me informed about important issues and changes.",
    "Management trusts people to do a good job without watching over their shoulders.",
    'There is a "family" or "team" feeling here.',
    "We're all in this together.",
    "People are encouraged to balance their work life and their personal life.",
    "When people change jobs or work units, they are made to feel right at home.",
    "Taking everything into account, I would say this is a great place to work.",
]

# Filter the DataFrame based on the Question column
filtered_key_statements_df = filtered_df[filtered_df["Question"].isin(key_statements)]

# Display the filtered DataFrame
filtered_key_statements_df.head()

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,NaN,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time
7,Statements,I am offered training or development to furthe...,65,62,63,66,68,69,NaN,63,...,NaN,67,64,61,62,64,68,NaN,64,67
8,Statements,Management shows appreciation for good work an...,63,63,63,62,66,69,NaN,71,...,NaN,69,64,58,56,59,66,NaN,63,69
9,Statements,People here are paid fairly for the work they do.,50,51,48,50,53,55,NaN,58,...,NaN,56,49,45,44,46,52,NaN,50,54
10,Statements,"My work has special meaning: this is not ""just...",76,68,73,79,83,81,NaN,75,...,NaN,75,75,75,79,82,83,NaN,77,69
11,Statements,"When people change jobs or work units, they ar...",71,67,71,70,72,76,NaN,82,...,NaN,72,73,68,66,70,74,NaN,70,74

In [9]:
filtered_key_statements_df.shape

(25, 4433)

In [10]:
filtered_key_statements_df

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,NaN,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time
7,Statements,I am offered training or development to furthe...,65,62,63,66,68,69,NaN,63,...,NaN,67,64,61,62,64,68,NaN,64,67
8,Statements,Management shows appreciation for good work an...,63,63,63,62,66,69,NaN,71,...,NaN,69,64,58,56,59,66,NaN,63,69
9,Statements,People here are paid fairly for the work they do.,50,51,48,50,53,55,NaN,58,...,NaN,56,49,45,44,46,52,NaN,50,54
10,Statements,"My work has special meaning: this is not ""just...",76,68,73,79,83,81,NaN,75,...,NaN,75,75,75,79,82,83,NaN,77,69
11,Statements,"When people change jobs or work units, they ar...",71,67,71,70,72,76,NaN,82,...,NaN,72,73,68,66,70,74,NaN,70,74
12,Statements,"Management is approachable, easy to talk with.",71,70,71,70,73,75,NaN,78,...,NaN,75,73,65,66,67,74,NaN,70,76
13,Statements,Management recognizes honest mistakes as part ...,69,67,68,68,72,76,NaN,81,...,NaN,73,68,65,64,68,73,NaN,68,75
15,Statements,"When I look at what we accomplish, I feel a se...",84,79,83,85,87,87,NaN,86,...,NaN,84,84,82,83,85,88,NaN,84,82
17,Statements,Management keeps me informed about important i...,69,73,69,68,71,71,NaN,72,...,NaN,76,70,62,63,65,71,NaN,69,73
19,Statements,Management trusts people to do a good job with...,73,71,72,72,76,79,NaN,81,...,NaN,75,73,70,67,71,78,NaN,72,77
26,Statements,People here are treated fairly regardless of t...,72,66,73,72,74,76,NaN,83,...,NaN,75,74,68,65,69,73,NaN,71,79
27,Statements,Promotions go to those who best deserve them.,50,50,50,49,50,51,NaN,52,...,NaN,57,53,43,42,40,48,NaN,49,54
30,Statements,Management delivers on its promises.,63,61,63,62,66,67,NaN,73,...,NaN,69,64,57,54,58,68,NaN,62,71
31,Statements,People here are treated fairly regardless of t...,85,85,87,84,85,86,NaN,92,...,NaN,88,87,81,81,83,86,NaN,85,90
32,Statements,People care about each other here.,68,67,68,67,67,72,NaN,80,...,NaN,70,69,65,64,66,68,NaN,67,74
35,Statements,People here are treated fairly regardless of t...,81,82,80,80,84,85,NaN,88,...,NaN,85,83,75,76,78,84,NaN,80,87
40,Statements,People are encouraged to balance their work li...,62,60,60,63,67,65,NaN,65,...,NaN,65,62,58,59,60,69,NaN,62,68
41,Statements,People here are treated fairly regardless of t...,86,86,86,85,87,91,NaN,95,...,NaN,89,87,82,80,83,88,NaN,85,92
43,Statements,"If I am unfairly treated, I believe I'll be gi...",64,64,65,64,66,69,NaN,73,...,NaN,70,65,59,57,60,68,NaN,64,72
45,Statements,Management is honest and ethical in its busine...,74,75,74,74,76,79,NaN,81,...,NaN,80,75,69,67,71,77,NaN,74,79
47,Statements,I want to work here for a long time.,78,69,76,81,85,84,NaN,83,...,NaN,77,75,78,82,83,86,NaN,79,75
50,Statements,I feel I make a difference here.,82,79,80,84,84,84,NaN,82,...,NaN,81,80,81,83,84,89,NaN,83,77
59,Statements,"There is a ""family"" or ""team"" feeling here.",68,68,67,68,70,67,NaN,70,...,NaN,71,68,65,65,66,70,NaN,67,71
60,Statements,We're all in this together.,71,69,71,72,72,69,NaN,69,...,NaN,74,70,68,68,70,75,NaN,71,72
64,Statements,"Taking everything into account, I would say th...",77,73,75,78,81,80,NaN,87,...,NaN,78,75,74,77,81,83,NaN,77,78

In [11]:
import pandas as pd

# Assuming filtered_df is already defined and structured as you've described

# Define the categories and their corresponding weights
categories_weights = {
    "Opportunities for Growth and Development": 0.125,
    "Work Environment and Relationships": 0.05,
    "Trust and Fairness": 0.017,
    "Job Satisfaction and Meaning": 0.05,
    "Supportive Management": 0.03,
    "Team and Community Feel": 0.025,
}


# Function to assign categories based on keywords in the Question
def assign_category(question):
    # Check if question is NaN
    if pd.isna(question):
        return "Uncategorized"  # Or you can return None or any specific label for NaN
    question = question.lower()  # Convert to lowercase for consistent comparison
    if any(keyword in question for keyword in ["training", "development", "promotions"]):
        return "Opportunities for Growth and Development"
    elif any(
        keyword in question
        for keyword in ["care about each other", "relationships", "appreciation", "great place to work"]
    ):
        return "Work Environment and Relationships"
    elif any(keyword in question for keyword in ["trust", "fairness", "fairly", "promises", "ethical", "unfairly treated"]):
        return "Trust and Fairness"
    elif any(keyword in question for keyword in ["meaning", "make a difference", "sense of pride", 'long time']):
        return "Job Satisfaction and Meaning"
    elif any(
        keyword in question
        for keyword in ["approachable", "honest mistake", "keeps me informed", "trusts people"]
    ):
        return "Supportive Management"
    elif any(keyword in question for keyword in ["team", "community", "all in", "balance", "right at home"]):
        return "Team and Community Feel"
    else:
        return "Uncategorized"  # Default category for unmatched questions


# Apply the category assignment function to create a new Category column
filtered_key_statements_df["Category_new"] = filtered_key_statements_df["Question"].apply(assign_category)

# Map weights to the new Category column
filtered_key_statements_df["Weight"] = filtered_key_statements_df["Category_new"].map(categories_weights)
# filtered_key_statements_df["Question"] = filtered_key_statements_df["Question"]

# Display the updated DataFrame with the new columns
filtered_key_statements_df[["Category", "Question", "Weight"]]

C:\Users\Ayushee\AppData\Local\Temp\ipykernel_26008\3710432748.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_key_statements_df["Category_new"] = filtered_key_statements_df["Question"].apply(assign_category)
C:\Users\Ayushee\AppData\Local\Temp\ipykernel_26008\3710432748.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_key_statements_df["Weight"] = filtered_key_statements_df["Category_new"].map(categories_weights)

      Category                                           Question  Weight
7   Statements  I am offered training or development to furthe...   0.125
8   Statements  Management shows appreciation for good work an...   0.050
9   Statements  People here are paid fairly for the work they do.   0.017
10  Statements  My work has special meaning: this is not "just...   0.050
11  Statements  When people change jobs or work units, they ar...   0.025
12  Statements     Management is approachable, easy to talk with.   0.030
13  Statements  Management recognizes honest mistakes as part ...   0.030
15  Statements  When I look at what we accomplish, I feel a se...   0.050
17  Statements  Management keeps me informed about important i...   0.030
19  Statements  Management trusts people to do a good job with...   0.017
26  Statements  People here are treated fairly regardless of t...   0.017
27  Statements      Promotions go to those who best deserve them.   0.125
30  Statements               Management delivers on its promises.   0.017
31  Statements  People here are treated fairly regardless of t...   0.017
32  Statements                 People care about each other here.   0.050
35  Statements  People here are treated fairly regardless of t...   0.017
40  Statements  People are encouraged to balance their work li...   0.025
41  Statements  People here are treated fairly regardless of t...   0.017
43  Statements  If I am unfairly treated, I believe I'll be gi...   0.017
45  Statements  Management is honest and ethical in its busine...   0.017
47  Statements               I want to work here for a long time.   0.050
50  Statements                   I feel I make a difference here.   0.050
59  Statements        There is a "family" or "team" feeling here.   0.025
60  Statements                        We're all in this together.   0.025
64  Statements  Taking everything into account, I would say th...   0.050

In [12]:
filtered_key_statements_df["Category"].value_counts()

Category
Statements    25
Name: count, dtype: int64

In [13]:
filtered_key_statements_df.reset_index(drop=True, inplace=True)
filtered_key_statements_df

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time,Category_new,Weight
0,Statements,I am offered training or development to furthe...,65,62,63,66,68,69,NaN,63,...,64,61,62,64,68,NaN,64,67,Opportunities for Growth and Development,0.125
1,Statements,Management shows appreciation for good work an...,63,63,63,62,66,69,NaN,71,...,64,58,56,59,66,NaN,63,69,Work Environment and Relationships,0.050
2,Statements,People here are paid fairly for the work they do.,50,51,48,50,53,55,NaN,58,...,49,45,44,46,52,NaN,50,54,Trust and Fairness,0.017
3,Statements,"My work has special meaning: this is not ""just...",76,68,73,79,83,81,NaN,75,...,75,75,79,82,83,NaN,77,69,Job Satisfaction and Meaning,0.050
4,Statements,"When people change jobs or work units, they ar...",71,67,71,70,72,76,NaN,82,...,73,68,66,70,74,NaN,70,74,Team and Community Feel,0.025
5,Statements,"Management is approachable, easy to talk with.",71,70,71,70,73,75,NaN,78,...,73,65,66,67,74,NaN,70,76,Supportive Management,0.030
6,Statements,Management recognizes honest mistakes as part ...,69,67,68,68,72,76,NaN,81,...,68,65,64,68,73,NaN,68,75,Supportive Management,0.030
7,Statements,"When I look at what we accomplish, I feel a se...",84,79,83,85,87,87,NaN,86,...,84,82,83,85,88,NaN,84,82,Job Satisfaction and Meaning,0.050
8,Statements,Management keeps me informed about important i...,69,73,69,68,71,71,NaN,72,...,70,62,63,65,71,NaN,69,73,Supportive Management,0.030
9,Statements,Management trusts people to do a good job with...,73,71,72,72,76,79,NaN,81,...,73,70,67,71,78,NaN,72,77,Trust and Fairness,0.017
10,Statements,People here are treated fairly regardless of t...,72,66,73,72,74,76,NaN,83,...,74,68,65,69,73,NaN,71,79,Trust and Fairness,0.017
11,Statements,Promotions go to those who best deserve them.,50,50,50,49,50,51,NaN,52,...,53,43,42,40,48,NaN,49,54,Opportunities for Growth and Development,0.125
12,Statements,Management delivers on its promises.,63,61,63,62,66,67,NaN,73,...,64,57,54,58,68,NaN,62,71,Trust and Fairness,0.017
13,Statements,People here are treated fairly regardless of t...,85,85,87,84,85,86,NaN,92,...,87,81,81,83,86,NaN,85,90,Trust and Fairness,0.017
14,Statements,People care about each other here.,68,67,68,67,67,72,NaN,80,...,69,65,64,66,68,NaN,67,74,Work Environment and Relationships,0.050
15,Statements,People here are treated fairly regardless of t...,81,82,80,80,84,85,NaN,88,...,83,75,76,78,84,NaN,80,87,Trust and Fairness,0.017
16,Statements,People are encouraged to balance their work li...,62,60,60,63,67,65,NaN,65,...,62,58,59,60,69,NaN,62,68,Team and Community Feel,0.025
17,Statements,People here are treated fairly regardless of t...,86,86,86,85,87,91,NaN,95,...,87,82,80,83,88,NaN,85,92,Trust and Fairness,0.017
18,Statements,"If I am unfairly treated, I believe I'll be gi...",64,64,65,64,66,69,NaN,73,...,65,59,57,60,68,NaN,64,72,Trust and Fairness,0.017
19,Statements,Management is honest and ethical in its busine...,74,75,74,74,76,79,NaN,81,...,75,69,67,71,77,NaN,74,79,Trust and Fairness,0.017
20,Statements,I want to work here for a long time.,78,69,76,81,85,84,NaN,83,...,75,78,82,83,86,NaN,79,75,Job Satisfaction and Meaning,0.050
21,Statements,I feel I make a difference here.,82,79,80,84,84,84,NaN,82,...,80,81,83,84,89,NaN,83,77,Job Satisfaction and Meaning,0.050
22,Statements,"There is a ""family"" or ""team"" feeling here.",68,68,67,68,70,67,NaN,70,...,68,65,65,66,70,NaN,67,71,Team and Community Feel,0.025
23,Statements,We're all in this together.,71,69,71,72,72,69,NaN,69,...,70,68,68,70,75,NaN,71,72,Team and Community Feel,0.025
24,Statements,"Taking everything into account, I would say th...",77,73,75,78,81,80,NaN,87,...,75,74,77,81,83,NaN,77,78,Work Environment and Relationships,0.050

In [14]:
filtered_key_statements_df = filtered_key_statements_df.drop('Category', axis=1)
filtered_key_statements_df = filtered_key_statements_df.rename(columns={'Category_new': 'Category'})

In [15]:
filtered_key_statements_df.head(2)

,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,1400.0,...,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time,Category,Weight
0,I am offered training or development to furthe...,65,62,63,66,68,69,NaN,63,70.0,...,64,61,62,64,68,NaN,64,67,Opportunities for Growth and Development,0.125
1,Management shows appreciation for good work an...,63,63,63,62,66,69,NaN,71,63.0,...,64,58,56,59,66,NaN,63,69,Work Environment and Relationships,0.050

In [16]:
df = filtered_key_statements_df

In [17]:
df.head()

,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,1400.0,...,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time,Category,Weight
0,I am offered training or development to furthe...,65,62,63,66,68,69,NaN,63,70.0,...,64,61,62,64,68,NaN,64,67,Opportunities for Growth and Development,0.125
1,Management shows appreciation for good work an...,63,63,63,62,66,69,NaN,71,63.0,...,64,58,56,59,66,NaN,63,69,Work Environment and Relationships,0.050
2,People here are paid fairly for the work they do.,50,51,48,50,53,55,NaN,58,38.0,...,49,45,44,46,52,NaN,50,54,Trust and Fairness,0.017
3,"My work has special meaning: this is not ""just...",76,68,73,79,83,81,NaN,75,73.0,...,75,75,79,82,83,NaN,77,69,Job Satisfaction and Meaning,0.050
4,"When people change jobs or work units, they ar...",71,67,71,70,72,76,NaN,82,67.0,...,73,68,66,70,74,NaN,70,74,Team and Community Feel,0.025

In [18]:
filtered_row = df[df['Question'] == 'People here are paid fairly for the work they do.']
filtered_row

,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,1400.0,...,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time,Category,Weight
2,People here are paid fairly for the work they do.,50,51,48,50,53,55,NaN,58,38.0,...,49,45,44,46,52,NaN,50,54,Trust and Fairness,0.017

In [19]:
filtered_row["11 years to 15 years"] * filtered_row["Weight"]
numeric_cols = df.columns
numeric_cols

Index([            'Question',              'Overall',  '25 years or younger',
       '26 years to 34 years', '35 years to 44 years', '45 years to 54 years',
          '55 years or older',                    nan,                   1000,
                       1400.0,
       ...
         '2 years to 5 years',  '6 years to 10 years', '11 years to 15 years',
       '16 years to 20 years',        'Over 20 years',                    nan,
                  'Full-time',            'Part-time',             'Category',
                     'Weight'],
      dtype='object', length=4434)

In [20]:
df['Weight']

0     0.125
1     0.050
2     0.017
3     0.050
4     0.025
5     0.030
6     0.030
7     0.050
8     0.030
9     0.017
10    0.017
11    0.125
12    0.017
13    0.017
14    0.050
15    0.017
16    0.025
17    0.017
18    0.017
19    0.017
20    0.050
21    0.050
22    0.025
23    0.025
24    0.050
Name: Weight, dtype: float64

In [21]:
# retention_rate = {}

# for col in df.columns:
#     if col not in ['Question', 'Category', 'Weight']:
#         print(df[col].multiply(df['Weight']))
#         # retention_rate[col] = weighted_values.mean()

In [38]:
import pandas as pd

new_rows = []
df = df.loc[:, ~df.columns.isna()]

for index, row in df.iterrows():
    new_row = {'Question': row['Question'], 'Category': row['Category']}
    total_weighted = 0  
    
    for col in df.columns:
    
        if col not in ['Question', 'Category', 'Weight', 'NaN']:
            weighted_value = row[col] * row['Weight']  
            new_row[col] = weighted_value  
    
    new_rows.append(new_row)


new_df = pd.DataFrame(new_rows)

df = df.reset_index(drop=True)
new_df = new_df.reset_index(drop=True)

df_with_weights = pd.concat([df, new_df], ignore_index=True)

summed_row = new_df.sum(numeric_only=True)
summed_row['Question'] = 'Total'
summed_row['Category'] = 'Total'

avg_row = new_df.mean(numeric_only=True)
avg_row['Question'] = 'AVG'
avg_row['Category'] = 'AVG'

summed_row_df = pd.DataFrame([summed_row])
avg_row_df = pd.DataFrame([avg_row])

df_with_weights = pd.concat([df_with_weights, summed_row_df, avg_row_df], ignore_index=True)

df_with_weights

,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,1000,1400.0,1900.0,...,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,Full-time,Part-time,Category,Weight
0,I am offered training or development to furthe...,65,62,63,66,68,69,63,70.00000,63.000,...,67,64,61,62,64,68,64,67,Opportunities for Growth and Development,0.125
1,Management shows appreciation for good work an...,63,63,63,62,66,69,71,63.00000,72.000,...,69,64,58,56,59,66,63,69,Work Environment and Relationships,0.050
2,People here are paid fairly for the work they do.,50,51,48,50,53,55,58,38.00000,50.000,...,56,49,45,44,46,52,50,54,Trust and Fairness,0.017
3,"My work has special meaning: this is not ""just...",76,68,73,79,83,81,75,73.00000,62.000,...,75,75,75,79,82,83,77,69,Job Satisfaction and Meaning,0.050
4,"When people change jobs or work units, they ar...",71,67,71,70,72,76,82,67.00000,73.000,...,72,73,68,66,70,74,70,74,Team and Community Feel,0.025
5,"Management is approachable, easy to talk with.",71,70,71,70,73,75,78,69.00000,78.000,...,75,73,65,66,67,74,70,76,Supportive Management,0.030
6,Management recognizes honest mistakes as part ...,69,67,68,68,72,76,81,61.00000,73.000,...,73,68,65,64,68,73,68,75,Supportive Management,0.030
7,"When I look at what we accomplish, I feel a se...",84,79,83,85,87,87,86,89.00000,80.000,...,84,84,82,83,85,88,84,82,Job Satisfaction and Meaning,0.050
8,Management keeps me informed about important i...,69,73,69,68,71,71,72,66.00000,75.000,...,76,70,62,63,65,71,69,73,Supportive Management,0.030
9,Management trusts people to do a good job with...,73,71,72,72,76,79,81,77.00000,74.000,...,75,73,70,67,71,78,72,77,Trust and Fairness,0.017
10,People here are treated fairly regardless of t...,72,66,73,72,74,76,83,74.00000,80.000,...,75,74,68,65,69,73,71,79,Trust and Fairness,0.017
11,Promotions go to those who best deserve them.,50,50,50,49,50,51,52,48.00000,58.000,...,57,53,43,42,40,48,49,54,Opportunities for Growth and Development,0.125
12,Management delivers on its promises.,63,61,63,62,66,67,73,59.00000,67.000,...,69,64,57,54,58,68,62,71,Trust and Fairness,0.017
13,People here are treated fairly regardless of t...,85,85,87,84,85,86,92,90.00000,90.000,...,88,87,81,81,83,86,85,90,Trust and Fairness,0.017
14,People care about each other here.,68,67,68,67,67,72,80,64.00000,75.000,...,70,69,65,64,66,68,67,74,Work Environment and Relationships,0.050
15,People here are treated fairly regardless of t...,81,82,80,80,84,85,88,85.00000,86.000,...,85,83,75,76,78,84,80,87,Trust and Fairness,0.017
16,People are encouraged to balance their work li...,62,60,60,63,67,65,65,51.00000,60.000,...,65,62,58,59,60,69,62,68,Team and Community Feel,0.025
17,People here are treated fairly regardless of t...,86,86,86,85,87,91,95,92.00000,91.000,...,89,87,82,80,83,88,85,92,Trust and Fairness,0.017
18,"If I am unfairly treated, I believe I'll be gi...",64,64,65,64,66,69,73,60.00000,69.000,...,70,65,59,57,60,68,64,72,Trust and Fairness,0.017
19,Management is honest and ethical in its busine...,74,75,74,74,76,79,81,73.00000,78.000,...,80,75,69,67,71,77,74,79,Trust and Fairness,0.017
20,I want to work here for a long time.,78,69,76,81,85,84,83,73.00000,65.000,...,77,75,78,82,83,86,79,75,Job Satisfaction and Meaning,0.050
21,I feel I make a difference here.,82,79,80,84,84,84,82,68.00000,75.000,...,81,80,81,83,84,89,83,77,Job Satisfaction and Meaning,0.050
22,"There is a ""family"" or ""team"" feeling here.",68,68,67,68,70,67,70,65.00000,73.000,...,71,68,65,65,66,70,67,71,Team and Community Feel,0.025
23,We're all in this together.,71,69,71,72,72,69,69,55.00000,69.000,...,74,70,68,68,70,75,71,72,Team and Community Feel,0.025
24,"Taking everything into account, I would say th...",77,73,75,78,81,80,87,69.00000,70.000,...,78,75,74,77,81,83,77,78,Work Environment and Relationships,0.050
25,I am offered training or development to furthe...,8.125,7.75,7.875,8.25,8.5,8.625,7.875,8.75000,7.875,...,8.375,8.0,7.625,7.75,8.0,8.5,8.0,8.375,Opportunities for Growth and Development,NaN
26,Management shows appreciation for good work an...,3.15,3.15,3.15,3.1,3.3,3.45,3.55,3.15000,3.600,...,3.45,3.2,2.9,2.8,2.95,3.3,3.15,3.45,Work Environment and Relationships,NaN
27,People here are paid fairly for the work they do.,0.85,0.867,0.816,0.85,0.901,0.935,0.986,0.64600,0.850,...,0.952,0.833,0.765,0.748,0.782,0.884,0.85,0.918,Trust and Fairness,NaN
28,"My work has special meaning: this is not ""just...",3.8,3.4,3.65,3.95,4.15,4.05,3.75,3.65000,3.100,...,3.75,3.75,3.75,3.95,4.1,4.15,3.85,3.45,Job Satisfaction and Meaning,NaN
29,"When people change jobs or work units, they ar...",1.775,1.675,1.775,1.75,1.8,1.9,2.05,1.67500,1.825,...,1.8,1.825,1.7,1.65,1.75,1.85,1.75,1.85,Team and Community Feel,NaN
30,"Management is approachable, easy to talk with.",2.13,2.1,2.13,2.1,2.19,2.25,2.34,2.07000,2.340,...,2.25,2.19,1.95,1.98,2.01,2.22,2.1,2.28,Supportive Management,NaN
31,Management recognizes honest mistakes as part ...,2.07,2.01,2.04,2.04,2.16,2.28,2.43,1.83000,2.190,...,2.19,2.04,1.95,1.92,2.04,2.19,2.04,2.25,Supportive Management,NaN
32,"When I look at what we accomplish, I feel a se...",4.2,3.95,4.15,4.25,4.35,4.35,4.3,4.45000,4.000,...,4.2,4.2,4.1,4.15,4.25,4.4,4.2,4.1,Job Satisfaction and Meaning,NaN
33,Management keeps me informed about important i...,2.07,2.19,2.07,2.04,2.13,2.13,2.16,1.98000,2.250,...,2.28,2.1,1.86,1.89,1.95,2.13,2.07,2.19,Supportive Management,NaN
34,Management trusts people to do a good job with...,1.241,1.207,1.224,1.224,1.292,1.343,1.377,1.30900,1.258,...,1.275,1.241,1.19,1.139,1.207,1.326,1.224,1.309,Trust and Fairness,NaN
35,People here are treated fairly regardless of t...,1.224,1.122,1.241,1.224,1.258,1.292,1.411,1.25800,1.360,...,1.275,1.258,1.156,1.105,1.173,1.241,1.207,1.343,Trust and Fairness,NaN
36,Promotions go to those who best deserve them.,6.25,6.25,6.25,6.125,6.25,6.375,6.5,6.00000,7.250,...,7.125,6.625,5.375,5.25,5.0,6.0,6.125,6.75,Opportunities for Growth and Development,NaN
37,Management delivers on its promises.,1.071,1.037,1.071,1.054,1.122,1.139,1.241,1.00300,1.139,...,1.173,1.088,0.969,0.918,0.986,1.156,1.054,1.207,Trust and Fairness,NaN
38,People here are treated fairly regardless of t...,1.445,1.445,1.479,1.428,1.445,1.462,1.564,1.53000,1.530,...,1.496,1.479,1.377,1.377,1.411,1.462,1.445,1.53,Trust and Fairness,NaN
39,People care about each other here.,3.4,3.35,3.4,3.35,3.35,3.6,4.0,3.20000,3.750,...,3.5,3.45,3.25,3.2,3.3,3.4,3.35,3.7,Work Environment and Relationships,NaN
40,People here are treated fairly regardless of t...,1.377,1.394,1.36,1.36,1.428,1.445,1.496,1.44500,1.462,...,1.445,1.411,1.275,1.292,1.326,1.428,1.36,1.479,Trust and Fairness,NaN
41,People are encouraged to balance their work li...,1.55,1.5,1.5,1.575,1.675,1.625,1.625,1.27500,1.500,...,1.625,1.55,1.45,1.475,1.5,1.725,1.55,1.7,Team and Community Feel,NaN
42,People here are treated fairly regardless of t...,1.462,1.462,1.462,1.445,1.479,1.547,1.615,1.56400,1.547,...,1.513,1.479,1.394,1.36,1.411,1.496,1.445,1.564,Trust and Fairness,NaN
43,"If I am unfairly treated, I believe I'll be gi...",1.088,1.088,1.105,1.088,1.122,1.173,1.241,1.02000,1.173,...,1.19,1.105,1.003,0.969,1.02,1.156,1.088,1.224,Trust and Fairness,NaN
44,Management is honest and ethical in its busine...,1.258,1.275,1.258,1.258,1.292,1.343,1.377,1.24100,1.326,...,1.36,1.275,1.173,1.139,1.207,1.309,1.258,1.343,Trust and Fairness,NaN
45,I want to work here for a long time.,3.9,3.45,3.8,4.05,4.25,4.2,4.15,3.65000,3.250,...,3.85,3.75,3.9,4.1,4.15,4.3,3.95,3.75,Job Satisfaction and Meaning,NaN
46,I feel I make a difference here.,4.1,3.95,4.0,4.2,4.2,4.2,4.1,3.40000,3.750,...,4.05,4.0,4.05,4.15,4.2,4.45,4.15,3.85,Job Satisfaction and Meaning,NaN
47,"There is a ""family"" or ""team"" feeling here.",1.7,1.7,1.675,1.7,1.75,1.675,1.75,1.62500,1.825,...,1.775,1.7,1.625,1.625,1.65,1.75,1.675,1.775,Team and Community Feel,NaN
48,We're all in this together.,1.775,1.725,1.775,1.8,1.8,1.725,1.725,1.37500,1.725,...,1.85,1.75,1.7,1.7,1.75,1.875,1.775,1.8,Team and Community Feel,NaN
49,"Taking everything into account, I would say th...",3.85,3.65,3.75,3.9,4.05,4.0,4.35,3.45000,3.500,...,3.9,3.75,3.7,3.85,4.05,4.15,3.85,3.9,Work Environment and Relationships,NaN
50,Total,64.861,62.697,64.006,65.111,67.244,68.114,68.963,62.54600,65.375,...,67.649,65.049,61.187,61.487,63.173,67.848,64.516,67.087,Total,NaN
51,AVG,2.59444,2.50788,2.56024,2.60444,2.68976,2.72456,2.75852,2.50184,2.615,...,2.70596,2.60196,2.44748,2.45948,2.52692,2.71392,2.58064,2.68348,AVG,NaN

In [28]:
duplicate_columns = df.columns.duplicated()

# Drop the duplicate columns (keeping only the first occurrence)
df = df.loc[:, ~duplicate_columns]

In [24]:
for index, row in df.iterrows():
    for col in df.columns:
        # Ensure 'Weight' is present in the columns and you skip the weight itself
        if col not in ['Question', 'Category', 'Weight', 'NaN']:
            print(row[col] * row['Weight'])

8.125
7.75
7.875
8.25
8.5
8.625
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
7.875
1400.0    8.75
1400.0     5.5
Name: 0, dtype: object
7.875
2000.0    9.625
2000.0     10.0
Name: 0, dtype: object
2100.0    6.25
2100.0     7.5
Name: 0, dtype: object
7.75
8.25
7.75
9.25
9.0
7.25
3000.0     6.25
3000.0    9.375
Name: 0, dtype: object
8.125
3700.0    10.125
3700.0      10.0
Name: 0, dtype: object
6.25
10.125
8.375
7.375
4200.0    9.0
4200.0    8.5
Name: 0, dtype: object
10.375
9.5
7.625
8.375
5.125
5.875
8.5
6.25
5.5
6.75
7.25
7.5
8.125
8.375
9.25
11.75
11.0
10.75
10.375
7.75
4.375
9.0
7.375
9.25
10.0
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
10.625
8.125
4.375
2.25
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
Corporate    7.625
Corporate    7.625
Name: 0, dtype: object
Retail    8.875
Retail      9.0
Retail     8.75
Retail    6.875
Name: 0, dtype: object
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
8.375
12.5
Accounting    8.375
Accounting      6.0
Name: 0, dtype: object
3.125
6.25
8.625
8.25
8.375
8.75
7.5
10.0
Apprenticeship    5.625
Apprenticeship      6.0
Name: 0, dtype: object
6.25
0.0
11.0
6.25
7.0
8.375
8.875
12.5
2.5
5.0
0.0
6.25
7.25
7.125
9.625
10.375
7.5
12.5
9.75
10.0
9.375
6.25
11.125
12.5
12.5
11.0
5.0
7.5
5.0
12.5
9.75
9.75
12.5
12.5
7.5
12.5
BOSS M Shop, Kyoto, Isetan Kyoto    7.5
BOSS M Shop, Kyoto, Isetan Kyoto    7.5
Name: 0, dtype: object
5.0
8.375
7.5
12.5
BOSS M Shop, Nagoya, Takashimaya Nagoya    10.0
BOSS M Shop, Nagoya, Takashimaya Nagoya    10.0
Name: 0, dtype: object
2.5
8.375
7.25
8.625
5.0
12.5
10.0
7.75
10.75
10.75
7.125
7.125
10.375
12.5
7.125
11.0
10.75
10.75
4.125
8.875
8.875
10.0
5.375
10.375
12.5
12.5
8.875
10.75
10.375
5.0
12.5
12.5
12.5
9.375
10.0
3.625
8.375
12.5
8.375
12.5
12.5
12.5
12.5
12.5
9.75
6.25
4.125
10.375
12.5
7.0
12.5
12.5
10.0
9.75
9.375
2.125
8.375
7.75
12.5
10.0
10.0
10.0
BOSS M Store, Mexico City, Artz    12.5
BOSS M Store, Mexico City, Artz    12.5
Name: 0, dtype: object
10.0
12.5
8.375
12.5
11.375
7.5
11.0
8.375
6.25
12.5
5.375
10.75
2.5
11.0
12.5
4.125
10.375
7.5
10.75
4.125
11.125
10.0
11.0
10.0
6.25
10.0
10.375
8.375
12.5
10.0
12.5
5.375
12.5
8.875
12.5
8.375
12.5
12.5
12.5
12.5
12.5
12.5
10.0
12.5
10.375
7.25
12.5
7.0
8.875
BOSS Outlet ZweibrÃ¼cken    7.5
BOSS Outlet ZweibrÃ¼cken    7.5
Name: 0, dtype: object
6.25
7.75
9.75
3.375
10.375
8.375
10.75
11.25
9.5
10.625
6.25
8.375
8.875
10.375
12.5
7.5
10.0
10.0
7.0
8.875
12.5
12.5
6.875
10.375
0.0
8.875
10.375
5.5
10.0
12.5
4.125
12.5
12.5
12.5
10.0
12.5
12.5
7.5
12.5
10.75
12.5
6.25
9.0
12.5
10.125
7.5
10.0
11.5
7.5
2.25
10.375
11.125
6.875
7.125
10.375
12.5
10.0
5.5
5.375
12.5
6.5
11.25
9.75
9.75
9.75
12.5
4.125
6.25
10.375
9.875
11.5
9.75
6.0
11.875
12.5
12.5
12.5
7.5
7.125
10.25
12.5
11.25
9.375
11.25
4.125
5.5
12.5
2.5
7.75
10.375
4.625
5.5
7.5
7.25
7.5
1.75
12.5
12.5
12.5
10.375
7.75
10.0
11.5
12.5
11.375
10.0
5.25
12.5
7.125
9.375
10.0
11.0
9.75
6.25
7.125
12.5
8.375
12.5
12.5
6.25
7.0
8.875
2.5
12.5
10.375
11.125
12.5
7.5
10.0
7.5
10.75
6.25
BOSS Store Frankfurt    7.5
BOSS Store Frankfurt    7.5
Name: 0, dtype: object
8.375
BOSS Store Konstanz    4.125
BOSS Store Konstanz    4.125
Name: 0, dtype: object
10.0
12.5
10.0
7.5
11.0
4.125
12.5
7.5
5.625
8.875
8.375
7.5
7.5
4.5
12.5
10.0
10.375
8.875
8.375
4.125
6.25
11.125
10.0
8.875
10.75
6.25
10.0
11.0
12.5
8.875
10.0
11.625
12.5
11.5
12.5
11.25
6.25
11.0
10.75
8.375
7.5
7.125
7.5
5.0
5.0
11.0
12.5
8.375
12.5
11.375
12.5
6.25
5.0
7.25
10.0
12.5
7.5
9.375
7.5
5.0
2.5
12.5
12.5
10.0
7.0
5.0
8.625
8.375
12.5
6.25
6.25
7.5
8.5
11.0
4.125
9.125
7.125
10.25
10.75
7.0
6.25
6.25
2.5
6.25
9.375
9.75
11.125
4.5
7.5
7.5
8.875
9.625
7.125
12.5
11.25
BOSS Store, Osaka, Shinsaibashi    8.875
BOSS Store, Osaka, Shinsaibashi    8.875
Name: 0, dtype: object
2.125
10.375
5.5
7.5
10.0
10.375
6.25
10.0
12.5
8.375
6.25
11.125
8.625
12.5
7.5
10.0
10.0
11.25
5.0
10.375
10.375
9.75
11.125
10.0
8.375
7.125
2.5
5.0
12.5
11.375
11.0
9.375
7.0
12.5
5.0
11.125
4.5
8.375
10.0
5.0
12.5
12.5
8.875
12.5
7.125
10.0
10.75
12.5
10.0
10.75
9.625
7.5
12.5
8.0
5.5
BP&A - Operations    8.375
BP&A - Operations    8.875
Name: 0, dtype: object
7.5
4.125
8.375
7.75
9.125
9.5
3.875
8.875
5.375
Coldrerio    8.875
Coldrerio    9.625
Name: 0, dtype: object
7.75
5.25
9.125
9.875
Controlling      12.5
Controlling    10.375
Name: 0, dtype: object
7.25
2.5
Creative Design    8.375
Creative Design    8.375
Name: 0, dtype: object
12.5
8.5
9.625
12.5
8.625
10.375
4.375
8.875
9.125
9.625
11.125
6.875
9.375
5.375
10.25
Customs Export Operations    7.5
Customs Export Operations    7.5
Name: 0, dtype: object
11.0
8.0
5.25
4.75
8.5
Cutting    9.125
Cutting      9.5
Name: 0, dtype: object
5.875
5.125
4.75
10.0
6.375
7.5
10.75
10.125
Design Accessories Man    7.5
Design Accessories Man    7.5
Name: 0, dtype: object
6.25
9.375
Design Footwear    10.0
Design Footwear    10.0
Name: 0, dtype: object
8.0
10.25
Digital Business Operations & Projects    11.5
Digital Business Operations & Projects    10.0
Name: 0, dtype: object
Digital Creation    10.0
Digital Creation    10.0
Name: 0, dtype: object
5.125
1.5
E-Commerce    4.125
E-Commerce    7.125
E-Commerce      8.0
Name: 0, dtype: object
6.25
2.25
7.625
5.0
12.5
9.0
8.75
6.625
6.75
5.375
Finance     6.75
Finance    8.125
Finance    9.125
Finance      5.0
Name: 0, dtype: object
2.125
8.875
7.5
4.125
Foreign Trade    7.75
Foreign Trade    7.75
Name: 0, dtype: object
2.125
5.375
10.0
5.5
9.5
8.75
Global Consumer & Market Insights    10.0
Global Consumer & Market Insights    10.0
Name: 0, dtype: object
Global Content Production    5.375
Global Content Production    5.375
Name: 0, dtype: object
4.625
4.75
2.125
Global Logistics Strategy & Planning    6.875
Global Logistics Strategy & Planning     6.25
Name: 0, dtype: object
6.25
9.125
8.125
9.125
11.0
3.625
8.375
12.5
12.5
Global Store & Window Design    7.75
Global Store & Window Design    6.25
Name: 0, dtype: object
10.5
3.625
5.375
6.25
Goods Dispatch Filderstadt    8.125
Goods Dispatch Filderstadt     7.75
Name: 0, dtype: object
9.625
8.375
HB Fashions, Inc. HBNY    10.0
HB Fashions, Inc. HBNY     5.5
Name: 0, dtype: object
12.5
12.5
11.25
7.5
7.375
7.5
11.0
6.75
4.5
9.625
HR Payroll    7.0
HR Payroll    7.0
Name: 0, dtype: object
8.375
8.375
7.75
8.375
7.375
8.375
10.0
7.25
10.875
7.5
10.625
10.0
4.125
6.25
12.5
12.5
8.375
7.0
10.75
10.375
12.5
10.0
Human Resources    9.125
Human Resources      8.5
Human Resources    8.375
Human Resources    9.125
Name: 0, dtype: object
7.0
4.75
Incoming Goods Filderstadt    4.625
Incoming Goods Filderstadt    3.625
Name: 0, dtype: object
Incoming Goods Wendlingen    6.125
Incoming Goods Wendlingen    5.875
Name: 0, dtype: object
7.25
8.875
5.625
12.5
7.75
12.5
3.375
6.25
Investor Relations    11.0
Investor Relations    12.5
Investor Relations    11.0
Name: 0, dtype: object
IT      9.75
IT      9.25
IT     8.375
IT    10.125
IT      9.75
IT     8.375
Name: 0, dtype: object
10.875
10.75
7.5
8.5
10.125
IT Logistics    10.375
IT Logistics      7.75
Name: 0, dtype: object
11.375
9.25
11.0
Legal Department    10.0
Legal Department    12.5
Legal Department     9.5
Name: 0, dtype: object
8.25
5.5
5.0
4.75
Logistics      7.5
Logistics     6.75
Logistics    4.125
Logistics      8.5
Logistics      6.5
Name: 0, dtype: object
12.5
9.0
7.5
7.0
6.25
12.5
10.0
Management    9.875
Management    9.875
Management      7.5
Management     7.75
Name: 0, dtype: object
9.75
9.375
10.0
12.5
12.5
8.75
8.375
12.5
7.5
4.125
10.0
8.125
Marketing      7.0
Marketing    5.875
Marketing    5.375
Marketing      7.5
Name: 0, dtype: object
2.25
7.5
6.25
5.0
10.375
7.25
7.125
6.25
9.875
Merchandising      8.5
Merchandising      4.5
Merchandising    7.375
Merchandising      7.5
Name: 0, dtype: object
9.75
9.5
6.25
10.25
8.75
5.375
4.125
10.625
12.5
12.5
5.0
5.0
7.5
Operations Procurement Fabrics    11.25
Operations Procurement Fabrics    11.25
Name: 0, dtype: object
Operations Procurement Finished Goods    7.25
Operations Procurement Finished Goods    7.25
Name: 0, dtype: object
6.75
9.625
Operations Procurement Planning & Buying    9.375
Operations Procurement Planning & Buying    9.375
Name: 0, dtype: object
12.5
10.75
9.375
12.5
12.5
8.875
11.75
7.125
9.125
9.75
6.25
5.375
5.0
11.0
5.75
7.5
6.25
6.0
3.125
3.875
6.875
4.75
10.75
Outlet NeumÃ¼nster    2.75
Outlet NeumÃ¼nster    2.75
Name: 0, dtype: object
Outlet Wertheim Village    5.375
Outlet Wertheim Village    5.375
Name: 0, dtype: object
10.0
9.875
8.375
6.875
5.0
3.125
11.0
5.125
Picking Goods Filderstadt      5.5
Picking Goods Filderstadt    3.875
Name: 0, dtype: object
8.625
7.625
7.375
7.625
7.625
5.0
5.0
10.0
11.0
5.25
8.875
5.125
8.875
10.375
3.375
12.5
7.5
8.375
8.375
Quality & Manufacturing Exc. Jersey    7.0
Quality & Manufacturing Exc. Jersey    7.0
Name: 0, dtype: object
2.125
4.75
5.75
8.375
7.875
9.875
12.5
7.0
8.875
5.25
6.25
5.875
7.125
8.375
7.5
5.75
8.375
8.375
Retail Operations    8.375
Retail Operations     8.25
Retail Operations      9.0
Name: 0, dtype: object
7.5
10.0
4.75
9.375
10.375
7.25
12.5
10.75
7.5
7.0
5.625
8.875
3.875
7.25
7.0
9.625
10.0
12.5
7.125
8.875
4.125
4.75
2.5
11.25
4.25
7.375
7.375
8.125
7.875
6.75
Shop Construction    3.125
Shop Construction      2.0
Shop Construction      5.0
Name: 0, dtype: object
8.125
5.375
5.0
7.5
10.0
SSC - IT    8.875
SSC - IT     10.0
Name: 0, dtype: object
10.0
7.0
Store Development      8.0
Store Development    8.375
Name: 0, dtype: object
2.125
5.0
12.5
Supply Chain    5.375
Supply Chain      2.5
Name: 0, dtype: object
1.5
5.375
Talent Acquisition    9.25
Talent Acquisition    6.25
Name: 0, dtype: object
Talent Management    8.375
Talent Management      8.0
Name: 0, dtype: object
8.875
8.0
11.625
9.625
Technical Services    12.5
Technical Services    10.0
Name: 0, dtype: object
5.5
5.5
2.5
8.0
10.0
4.75
9.75
9.125
5.0
4.375
Training Center    10.75
Training Center     10.5
Name: 0, dtype: object
10.375
8.875
8.25
5.75
3.875
VAS Filderstadt    6.375
VAS Filderstadt    5.125
Name: 0, dtype: object
12.5
7.5
Visual Merchandising    4.25
Visual Merchandising     6.0
Visual Merchandising    5.75
Name: 0, dtype: object
3.625
VM Retail    12.5
VM Retail    12.5
Name: 0, dtype: object
VM Wholesale     9.5
VM Wholesale    12.5
Name: 0, dtype: object
Warehouse    4.125
Warehouse    8.375
Warehouse    4.125
Name: 0, dtype: object
Warehouse Hanging    10.0
Warehouse Hanging    10.0
Name: 0, dtype: object
8.0
6.25
10.75
10.375
8.125
10.75
6.25
10.375
5.25
5.0
12.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
9.125
4.25
6.75
5.0
10.0
8.375
10.0
12.5
7.5
9.875
6.125
5.875
3.625
12.5
3.125
4.75
5.125
6.25
3.875
4.625
5.5
4.75
6.375
8.125
5.5
9.125
8.625
11.0
5.375
12.5
11.0
9.0
7.5
6.875
10.0
8.5
9.625
5.375
5.5
8.875
9.375
7.25
9.375
6.25
8.0
3.625
8.875
4.75
10.25
5.0
8.375
9.625
8.875
8.0
10.0
4.75
9.75
9.125
10.375
9.125
10.75
5.25
5.0
9.5
9.5
12.5
10.0
5.0
5.375
7.25
8.375
9.125
10.5
9.375
5.375
6.25
8.625
8.375
4.625
12.5
10.375
5.0
4.75
7.75
7.0
8.0
10.375
8.125
6.25
5.375
5.375
4.125
7.5
2.75
5.75
10.0
6.25
7.25
8.375
5.25
7.375
8.375
8.375
7.5
10.0
10.75
6.25
6.0
6.875
3.125
3.875
4.75
7.5
6.25
2.5
7.5
4.125
6.25
8.375
8.125
2.25
7.625
9.875
8.75
12.5
7.5
5.0
9.125
11.0
10.75
0.0
7.5
5.625
7.0
8.875
12.5
8.0
9.625
12.5
11.0
8.375
9.875
8.375
6.25
5.5
10.75
5.5
12.5
9.625
5.625
7.0
11.0
8.375
7.25
8.75
9.25
10.0
7.75
7.5
10.125
8.5
10.75
9.25
11.0
10.375
10.875
11.375
7.5
12.5
12.5
6.75
7.0
9.625
2.125
7.5
8.375
8.75
11.25
12.5
7.25
8.375
4.75
9.125
11.5
5.375
10.375
10.0
12.5
9.375
12.5
2.125
5.0
4.125
7.5
9.75
8.875
10.0
8.0
2.5
10.0
12.5
1400.0    8.75
1400.0     5.5
Name: 0, dtype: object
12.5
8.875
10.125
10.375
4.5
6.25
5.0
9.75
7.5
10.25
10.0
7.5
7.5
12.5
5.0
5.5
5.375
6.25
8.375
7.75
5.0
5.375
3.875
2.75
7.75
9.5
11.25
8.625
8.875
8.375
2.125
5.375
8.5
8.375
6.25
11.0
4.125
4.125
5.375
6.25
9.375
10.75
10.0
9.75
7.0
6.25
8.375
10.75
11.25
9.375
8.875
7.125
8.875
7.0
2.5
7.125
8.375
10.0
7.25
11.0
10.625
8.375
11.125
7.125
8.375
6.25
8.375
7.5
8.375
10.625
9.75
10.0
6.875
7.5
7.125
7.25
3.375
6.25
7.25
7.5
12.5
10.75
12.5
12.5
7.5
7.0
10.375
6.25
5.0
8.625
7.5
5.0
2000.0    9.625
2000.0     10.0
Name: 0, dtype: object
12.5
11.0
12.5
9.375
10.75
10.25
9.75
6.25
9.125
5.0
8.875
11.75
5.0
7.125
6.875
9.625
8.875
4.375
10.0
7.5
12.5
12.5
11.125
12.5
10.125
11.625
9.125
7.5
8.375
6.25
11.0
10.375
10.375
11.625
8.875
11.0
2100.0    6.25
2100.0     7.5
Name: 0, dtype: object
4.125
8.875
0.0
4.125
4.75
10.375
8.375
6.0
2.25
9.125
5.0
2.5
5.0
5.5
6.25
12.5
12.5
7.5
6.25
2.5
5.375
4.375
0.0
5.0
10.75
10.375
7.125
5.5
5.5
10.0
5.375
8.75
5.0
10.0
9.875
6.5
5.0
8.375
7.5
7.0
11.125
7.125
12.5
7.5
10.0
10.75
4.5
12.5
10.75
7.5
7.5
6.25
7.0
6.25
10.375
7.5
10.0
11.5
7.0
12.5
5.0
7.5
12.5
8.375
8.375
11.5
7.75
11.25
11.0
10.0
10.0
8.875
7.75
4.125
11.125
5.5
9.375
7.0
11.0
10.75
10.375
7.125
10.375
12.5
8.375
6.25
4.125
11.125
10.375
12.5
8.375
12.5
7.0
6.25
12.5
7.5
2.5
4.5
9.75
8.0
8.875
10.0
5.375
5.5
6.25
6.25
11.125
8.625
9.625
10.0
3.625
3000.0     6.25
3000.0    9.375
Name: 0, dtype: object
5.75
6.25
9.75
7.0
5.0
4.125
6.875
5.0
8.375
4.375
8.375
5.0
5.375
3.625
5.75
7.125
6.25
2.125
2.125
5.375
4.5
6.25
11.125
9.625
7.5
12.5
8.375
10.25
7.5
0.0
10.0
10.0
5.0
3700.0    10.125
3700.0      10.0
Name: 0, dtype: object
7.5
7.125
6.25
11.0
12.5
12.5
12.5
10.375
10.75
7.125
10.0
7.5
8.875
11.375
12.5
12.5
12.5
7.75
7.5
2.125
2.5
6.25
7.5
10.0
8.875
10.0
7.5
10.875
11.125
11.0
11.5
11.0
8.375
12.5
12.5
10.75
10.0
12.5
4.125
7.5
10.75
11.0
11.25
8.875
12.5
12.5
10.75
12.5
8.875
12.5
10.0
4.5
4.125
10.75
8.375
7.5
7.5
9.375
10.0
8.875
4.125
7.75
12.5
7.125
6.25
10.375
11.25
7.25
9.375
5.25
5.875
7.375
6.375
8.125
7.625
5.125
7.875
7.625
7.625
7.375
8.0
10.0
8.5
7.375
5.375
9.5
7.5
4.75
10.25
7.0
5.625
7.75
4.75
8.75
8.875
7.25
6.25
12.5
7.0
7.5
7.875
9.875
12.5
12.5
8.375
7.5
6.25
5.5
8.875
10.75
3.875
9.0
3.875
6.625
7.0
9.625
6.75
8.75
7.25
7.75
3.125
6.75
8.375
8.25
3.375
8.0
5.125
5.25
3.375
12.5
9.5
6.25
8.625
8.25
5.375
8.75
11.25
7.5
1.5
4200.0    9.0
4200.0    8.5
Name: 0, dtype: object
4.125
8.375
7.5
9.75
9.75
9.375
11.0
7.5
10.0
2.5
12.5
12.5
8.875
10.75
12.5
10.0
10.0
10.0
10.0
9.75
10.0
11.0
6.25
8.0
5.75
8.25
8.875
10.0
12.5
1.5
10.0
5.25
7.5
7.125
2.125
10.375
5.125
11.375
9.75
12.5
6.25
4.125
5.0
7.5
5.625
10.0
4.125
5.0
10.75
12.5
4.125
4.625
5.0
7.25
10.375
4.125
10.375
9.75
6.25
9.75
10.0
6.875
8.375
12.5
8.875
6.25
2.5
9.375
7.5
10.0
8.375
7.125
9.0
3.625
11.25
8.875
12.5
12.5
11.5
12.5
12.5
12.5
10.0
12.5
11.0
11.25
12.5
8.375
12.5
9.375
10.0
12.5
7.125
10.0
11.0
8.0
7.5
10.375
9.75
10.375
12.5
11.25
9.375
11.0
11.125
12.5
10.75
12.5
11.875
12.5
12.5
10.0
10.0
8.875
12.5
10.75
12.5
12.5
8.875
12.5
12.5
12.5
7.5
11.125
12.5
12.5
12.5
12.5
10.375
12.5
11.375
10.0
12.5
10.75
8.875
10.375
12.5
8.875
1.75
8.875
7.5
12.5
12.5
12.5
12.5
12.5
10.375
12.5
10.0
8.375
10.0
12.5
11.0
10.0
12.5
12.5
12.5
12.5
12.5
12.5
10.375
12.5
12.5
12.5
9.75
10.0
10.0
10.0
7.5
12.5
12.5
12.5
12.5
7.5
12.5
12.5
10.375
10.0
12.5
12.5
12.5
10.75
12.5
10.0
12.5
10.0
10.375
8.875
12.5
7.5
7.5
10.0
12.5
10.0
7.0
12.5
11.25
12.5
8.375
5.0
11.375
12.5
12.5
12.5
12.5
12.5
10.0
12.5
8.375
7.5
12.5
12.5
12.5
5.0
9.75
8.0
5.0
10.625
12.5
12.5
7.75
9.125
7.125
2.5
4.125
2.5
2.5
7.5
10.375
10.375
9.75
5.0
10.375
10.0
9.375
10.25
10.375
6.25
10.375
2.5
5.0
5.0
12.5
10.0
10.0
6.25
12.5
8.875
10.0
5.25
10.0
12.5
7.125
10.375
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
8.375
8.25
10.125
10.625
7.625
7.875
11.25
8.5
6.25
8.25
7.875
Hong Kong    6.25
Hong Kong    6.25
Name: 0, dtype: object
8.375
7.625
10.125
9.0
11.0
9.25
9.0
6.5
6.25
7.75
6.75
9.25
9.5
9.125
9.0
8.75
7.375
4.375
10.0
7.375
7.0
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
8.375
Central & Internal Services    8.5
Central & Internal Services    5.5
Name: 0, dtype: object
6.0
Executive Team    6.875
Executive Team    6.875
Name: 0, dtype: object
Finance / Controlling     7.75
Finance / Controlling    4.125
Name: 0, dtype: object
Human Resources    9.125
Human Resources      8.5
Human Resources    8.375
Human Resources    9.125
Name: 0, dtype: object
IT      9.75
IT      9.25
IT     8.375
IT    10.125
IT      9.75
IT     8.375
Name: 0, dtype: object
Legal    9.125
Legal    8.375
Name: 0, dtype: object
Licences    5.25
Licences    5.25
Name: 0, dtype: object
Logistics      7.5
Logistics     6.75
Logistics    4.125
Logistics      8.5
Logistics      6.5
Name: 0, dtype: object
Management    9.875
Management    9.875
Management      7.5
Management     7.75
Name: 0, dtype: object
Marketing      7.0
Marketing    5.875
Marketing    5.375
Marketing      7.5
Name: 0, dtype: object
Marketing/PR    0.0
Marketing/PR    0.0
Name: 0, dtype: object
Merchandising      8.5
Merchandising      4.5
Merchandising    7.375
Merchandising      7.5
Name: 0, dtype: object
8.25
7.75
Outlet    8.625
Outlet    10.75
Name: 0, dtype: object
8.625
7.25
9.875
Retail    8.875
Retail      9.0
Retail     8.75
Retail    6.875
Name: 0, dtype: object
7.625
10.125
8.375
Wholesale    6.625
Wholesale      5.0
Wholesale    5.625
Wholesale     5.75
Name: 0, dtype: object
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
8.125
8.125
5.125
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    3.5
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
NaN    NaN
Name: 0, dtype: object
Accessories    9.875
Accessories    10.75
Name: 0, dtype: object
Blue Collar    6.25
Blue Collar    6.25
Name: 0, dtype: object
7.25
7.875
10.0
9.875
Central & Internal Services    8.5
Central & Internal Services    5.5
Name: 0, dtype: object
Corporate    7.625
Corporate    7.625
Name: 0, dtype: object
10.125
6.625
eCommerce    6.25
eCommerce    6.25
Name: 0, dtype: object
11.0
Executive Team    6.875
Executive Team    6.875
Name: 0, dtype: object
12.5
10.25
4.75
Finance / Controlling     7.75
Finance / Controlling    4.125
Name: 0, dtype: object
11.0
Footwear    10.75
Footwear     12.5
Name: 0, dtype: object
GC Office    1.75
GC Office     0.0
Name: 0, dtype: object
HEAD OFFICE    6.375
HEAD OFFICE     8.75
Name: 0, dtype: object
HQ      5.5
HQ    4.125
Name: 0, dtype: object
7.0

KeyboardInterrupt:

In [68]:
# Identify numeric columns (excluding 'Weight' and other non-numeric columns like 'Question' and 'Category')
numeric_cols = df.select_dtypes(include='number').columns.tolist()

# Multiply each row's numeric values by its corresponding 'Weight'
df["55 years or older"] = df["55 years or older"].multiply(df['Weight'], axis=0)

# Calculate the mean for each numeric column, ignoring NaNs
retention_rate = df[numeric_cols].mean()

# # Append the calculated 'retention rate' row to the DataFrame
# df.loc['retention rate'] = ['Retention Rate'] + retention_rate.tolist() + [None] * (len(df.columns) - len(numeric_cols))

# Display the updated DataFrame
print(retention_rate)

NaN           NaN
NaN           NaN
NaN           NaN
NaN           NaN
NaN           NaN
           ...
NaN           NaN
NaN           NaN
NaN           NaN
NaN           NaN
Weight    0.03772
Length: 1876, dtype: float64

In [17]:
qualities = [
    "Average of All Statements",
    "Camaraderie",
    "Caring",
    "Collaboration",
    "Communication",
    "Community",
    "Competence",
    "Corporate Image",
    "Credibility",
    "Engagement",
    "Equity",
    "Fairness",
    "Hospitality",
    "Impartiality",
    "Innovation",
    "Integrity",
    "Intimacy",
    "Justice",
    "Leadership Behavior",
    "Personal Job",
    "Pride",
    "Respect",
    "Support",
    "Team",
]

filtered_df = df[df["Category"].isin(qualities)]
last_rows = filtered_df.groupby("Category").last().reset_index()
last_rows

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,NaN,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time
0,Average of All Statements,Average of All Statements Average,70,69,70,70,73,73,NaN,76,...,NaN,73,70,66,67,69,74,NaN,70,73
1,Camaraderie,Camaraderie Average,74,73,74,75,75,76,NaN,81,...,NaN,76,74,72,72,74,78,NaN,74,77
2,Caring,Caring Average,69,66,69,69,72,72,NaN,76,...,NaN,72,68,66,66,70,75,NaN,69,71
3,Collaboration,Collaboration Average,62,63,62,62,65,64,NaN,67,...,NaN,68,64,57,57,59,63,NaN,62,67
4,Communication,Communication Average,69,71,69,68,72,72,NaN,74,...,NaN,74,70,63,63,66,72,NaN,69,75
5,Community,Community Average,66,63,66,67,67,69,NaN,72,...,NaN,68,66,64,63,66,70,NaN,66,72
6,Competence,Competence Average,69,71,69,68,72,73,NaN,75,...,NaN,74,70,65,63,66,73,NaN,69,74
7,Corporate Image,Corporate Image Average,76,72,75,78,79,80,NaN,81,...,NaN,77,75,74,76,77,81,NaN,76,76
8,Credibility,Credibility Average,69,70,69,68,72,72,NaN,75,...,NaN,74,70,64,63,66,72,NaN,69,74
9,Engagement,Engagement Average,71,69,70,71,74,75,NaN,77,...,NaN,74,71,68,68,70,75,NaN,71,74
10,Equity,Equity Average,59,57,57,59,63,65,NaN,70,...,NaN,63,59,54,54,57,63,NaN,59,63
11,Fairness,Fairness Average,66,64,65,65,68,70,NaN,75,...,NaN,70,67,61,60,62,68,NaN,65,71
12,Hospitality,Hospitality Average,76,74,76,77,78,78,NaN,84,...,NaN,77,77,74,74,77,80,NaN,76,78
13,Impartiality,Impartiality Average,55,53,55,54,56,58,NaN,62,...,NaN,59,57,49,48,49,55,NaN,54,61
14,Innovation,Innovation Average,69,67,68,68,71,72,NaN,75,...,NaN,72,69,65,64,67,72,NaN,68,73
15,Integrity,Integrity Average,69,70,69,69,71,73,NaN,76,...,NaN,74,70,64,63,66,72,NaN,69,74
16,Intimacy,Intimacy Average,75,75,75,75,75,76,NaN,81,...,NaN,77,74,72,73,75,78,NaN,75,76
17,Justice,Justice Average,78,76,78,77,79,81,NaN,86,...,NaN,81,80,73,72,74,80,NaN,77,84
18,Leadership Behavior,Leadership Behavior Average,69,70,69,68,72,73,NaN,74,...,NaN,75,70,64,63,65,72,NaN,69,74
19,Personal Job,Personal Job Average,79,74,77,81,83,83,NaN,78,...,NaN,78,78,78,81,83,86,NaN,80,73
20,Pride,Pride Average,77,73,75,78,80,80,NaN,80,...,NaN,78,76,74,77,78,82,NaN,77,76
21,Respect,Respect Average,68,66,67,67,71,71,NaN,74,...,NaN,71,67,64,64,67,72,NaN,67,71
22,Support,Support Average,67,66,66,67,71,73,NaN,74,...,NaN,71,68,63,63,66,72,NaN,67,72
23,Team,Â©2017-2024 Great Place To WorkÂ®. All Rights Re...,76,125604412,75,76,79,79,NaN,78,...,NaN,77,75,73,75,78,81,NaN,76,78

In [19]:
# Define the qualities to map as 'Emotional Benefits'
emotional_benefits = [
    "Camaraderie",
    "Caring",
    "Community",
    "Corporate Image",
    "Engagement",
    "Fairness",
    "Hospitality",
    "Impartiality",
    "Intimacy",
    "Justice",
    "Pride",
    "Respect",
]

# Create a new column in last_rows to identify 'Emotional Benefits'
last_rows["Benefit_Type"] = last_rows["Category"].apply(
    lambda x: "Emotional Benefit" if x in emotional_benefits else "Other"
)

# Output the dataframe
last_rows

,Category,Question,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,NaN,1000,...,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,NaN,Full-time,Part-time,Benefit_Type
0,Average of All Statements,Average of All Statements Average,70,69,70,70,73,73,NaN,76,...,73,70,66,67,69,74,NaN,70,73,Other
1,Camaraderie,Camaraderie Average,74,73,74,75,75,76,NaN,81,...,76,74,72,72,74,78,NaN,74,77,Emotional Benefit
2,Caring,Caring Average,69,66,69,69,72,72,NaN,76,...,72,68,66,66,70,75,NaN,69,71,Emotional Benefit
3,Collaboration,Collaboration Average,62,63,62,62,65,64,NaN,67,...,68,64,57,57,59,63,NaN,62,67,Other
4,Communication,Communication Average,69,71,69,68,72,72,NaN,74,...,74,70,63,63,66,72,NaN,69,75,Other
5,Community,Community Average,66,63,66,67,67,69,NaN,72,...,68,66,64,63,66,70,NaN,66,72,Emotional Benefit
6,Competence,Competence Average,69,71,69,68,72,73,NaN,75,...,74,70,65,63,66,73,NaN,69,74,Other
7,Corporate Image,Corporate Image Average,76,72,75,78,79,80,NaN,81,...,77,75,74,76,77,81,NaN,76,76,Emotional Benefit
8,Credibility,Credibility Average,69,70,69,68,72,72,NaN,75,...,74,70,64,63,66,72,NaN,69,74,Other
9,Engagement,Engagement Average,71,69,70,71,74,75,NaN,77,...,74,71,68,68,70,75,NaN,71,74,Emotional Benefit
10,Equity,Equity Average,59,57,57,59,63,65,NaN,70,...,63,59,54,54,57,63,NaN,59,63,Other
11,Fairness,Fairness Average,66,64,65,65,68,70,NaN,75,...,70,67,61,60,62,68,NaN,65,71,Emotional Benefit
12,Hospitality,Hospitality Average,76,74,76,77,78,78,NaN,84,...,77,77,74,74,77,80,NaN,76,78,Emotional Benefit
13,Impartiality,Impartiality Average,55,53,55,54,56,58,NaN,62,...,59,57,49,48,49,55,NaN,54,61,Emotional Benefit
14,Innovation,Innovation Average,69,67,68,68,71,72,NaN,75,...,72,69,65,64,67,72,NaN,68,73,Other
15,Integrity,Integrity Average,69,70,69,69,71,73,NaN,76,...,74,70,64,63,66,72,NaN,69,74,Other
16,Intimacy,Intimacy Average,75,75,75,75,75,76,NaN,81,...,77,74,72,73,75,78,NaN,75,76,Emotional Benefit
17,Justice,Justice Average,78,76,78,77,79,81,NaN,86,...,81,80,73,72,74,80,NaN,77,84,Emotional Benefit
18,Leadership Behavior,Leadership Behavior Average,69,70,69,68,72,73,NaN,74,...,75,70,64,63,65,72,NaN,69,74,Other
19,Personal Job,Personal Job Average,79,74,77,81,83,83,NaN,78,...,78,78,78,81,83,86,NaN,80,73,Other
20,Pride,Pride Average,77,73,75,78,80,80,NaN,80,...,78,76,74,77,78,82,NaN,77,76,Emotional Benefit
21,Respect,Respect Average,68,66,67,67,71,71,NaN,74,...,71,67,64,64,67,72,NaN,67,71,Emotional Benefit
22,Support,Support Average,67,66,66,67,71,73,NaN,74,...,71,68,63,63,66,72,NaN,67,72,Other
23,Team,Â©2017-2024 Great Place To WorkÂ®. All Rights Re...,76,125604412,75,76,79,79,NaN,78,...,77,75,73,75,78,81,NaN,76,78,Other

In [23]:
# Define the qualities to map as 'Emotional Benefits'
emotional_benefits = [
    "Camaraderie",
    "Caring",
    "Community",
    "Corporate Image",
    "Engagement",
    "Fairness",
    "Hospitality",
    "Impartiality",
    "Intimacy",
    "Justice",
    "Pride",
    "Respect",
]

# Create a new column 'Benefit_Type' and map values
df["Benefit_Type"] = df["Category"].apply(
    lambda x: "Emotional Benefit" if x in emotional_benefits else "Other"
)

# Verify if the column is correctly added
print(df[["Category", "Benefit_Type"]].head())

     Category Benefit_Type
0  Statements        Other
1  Statements        Other
2  Statements        Other
3  Statements        Other
4  Statements        Other

In [83]:
df = pd.read_excel("filtered_data_with_categories.xlsx")

In [85]:
df.shape

(24, 4433)

In [87]:
df.head(25)

,Category,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,Unnamed: 7,1000,1400,...,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,Unnamed: 4429,Full-time,Part-time,Weight
0,Supportive Management,70.000000,74.000000,69.000000,69.000000,74.000000,71.000000,NaN,71.000000,70.000000,...,76.000000,70.000000,65.000000,64.000000,69.000000,72.000000,NaN,70.000000,76.000000,0.10
1,Supportive Management,66.000000,67.000000,66.000000,65.000000,70.000000,71.000000,NaN,77.000000,69.000000,...,71.000000,68.000000,61.000000,59.000000,65.000000,69.000000,NaN,65.000000,76.000000,0.10
2,Opportunities for Growth and Development,65.000000,62.000000,63.000000,66.000000,68.000000,69.000000,NaN,63.000000,70.000000,...,67.000000,64.000000,61.000000,62.000000,64.000000,68.000000,NaN,64.000000,67.000000,0.25
3,Supportive Management,63.000000,63.000000,63.000000,62.000000,66.000000,69.000000,NaN,71.000000,63.000000,...,69.000000,64.000000,58.000000,56.000000,59.000000,66.000000,NaN,63.000000,69.000000,0.10
4,Job Satisfaction and Meaning,76.000000,68.000000,73.000000,79.000000,83.000000,81.000000,NaN,75.000000,73.000000,...,75.000000,75.000000,75.000000,79.000000,82.000000,83.000000,NaN,77.000000,69.000000,0.15
5,Supportive Management,71.000000,70.000000,71.000000,70.000000,73.000000,75.000000,NaN,78.000000,69.000000,...,75.000000,73.000000,65.000000,66.000000,67.000000,74.000000,NaN,70.000000,76.000000,0.10
6,Supportive Management,69.000000,67.000000,68.000000,68.000000,72.000000,76.000000,NaN,81.000000,61.000000,...,73.000000,68.000000,65.000000,64.000000,68.000000,73.000000,NaN,68.000000,75.000000,0.10
7,Supportive Management,65.000000,65.000000,65.000000,63.000000,68.000000,65.000000,NaN,72.000000,61.000000,...,69.000000,66.000000,59.000000,60.000000,60.000000,68.000000,NaN,64.000000,71.000000,0.10
8,Supportive Management,69.000000,73.000000,69.000000,68.000000,71.000000,71.000000,NaN,72.000000,66.000000,...,76.000000,70.000000,62.000000,63.000000,65.000000,71.000000,NaN,69.000000,73.000000,0.10
9,Supportive Management,71.000000,72.000000,69.000000,70.000000,74.000000,75.000000,NaN,73.000000,74.000000,...,76.000000,72.000000,64.000000,63.000000,67.000000,75.000000,NaN,70.000000,76.000000,0.10
10,Trust and Fairness,73.000000,71.000000,72.000000,72.000000,76.000000,79.000000,NaN,81.000000,77.000000,...,75.000000,73.000000,70.000000,67.000000,71.000000,78.000000,NaN,72.000000,77.000000,0.15
11,Supportive Management,60.000000,62.000000,60.000000,60.000000,62.000000,63.000000,NaN,62.000000,63.000000,...,66.000000,61.000000,54.000000,54.000000,58.000000,59.000000,NaN,60.000000,63.000000,0.10
12,Team and Community Feel,73.000000,70.000000,72.000000,75.000000,75.000000,78.000000,NaN,69.000000,75.000000,...,74.000000,73.000000,71.000000,74.000000,74.000000,80.000000,NaN,74.000000,68.000000,0.10
13,Supportive Management,61.000000,63.000000,61.000000,59.000000,64.000000,66.000000,NaN,65.000000,62.000000,...,67.000000,63.000000,55.000000,54.000000,57.000000,65.000000,NaN,61.000000,67.000000,0.10
14,Supportive Management,63.000000,61.000000,63.000000,62.000000,66.000000,67.000000,NaN,73.000000,59.000000,...,69.000000,64.000000,57.000000,54.000000,58.000000,68.000000,NaN,62.000000,71.000000,0.10
15,Supportive Management,62.000000,62.000000,61.000000,60.000000,65.000000,65.000000,NaN,70.000000,61.000000,...,68.000000,63.000000,55.000000,54.000000,57.000000,64.000000,NaN,61.000000,69.000000,0.10
16,Supportive Management,74.000000,76.000000,73.000000,73.000000,76.000000,80.000000,NaN,86.000000,74.000000,...,77.000000,74.000000,72.000000,71.000000,73.000000,77.000000,NaN,74.000000,78.000000,0.10
17,Supportive Management,70.000000,72.000000,71.000000,68.000000,73.000000,75.000000,NaN,76.000000,71.000000,...,76.000000,73.000000,64.000000,61.000000,63.000000,73.000000,NaN,70.000000,76.000000,0.10
18,Supportive Management,74.000000,75.000000,74.000000,74.000000,76.000000,79.000000,NaN,81.000000,73.000000,...,80.000000,75.000000,69.000000,67.000000,71.000000,77.000000,NaN,74.000000,79.000000,0.10
19,Supportive Management,66.000000,64.000000,66.000000,64.000000,70.000000,71.000000,NaN,72.000000,60.000000,...,70.000000,67.000000,62.000000,58.000000,62.000000,72.000000,NaN,65.000000,70.000000,0.10
20,Supportive Management,67.000000,71.000000,68.000000,66.000000,66.000000,64.000000,NaN,73.000000,56.000000,...,74.000000,66.000000,62.000000,60.000000,63.000000,68.000000,NaN,67.000000,72.000000,0.10
21,Team and Community Feel,68.000000,68.000000,67.000000,68.000000,70.000000,67.000000,NaN,70.000000,65.000000,...,71.000000,68.000000,65.000000,65.000000,66.000000,70.000000,NaN,67.000000,71.000000,0.10
22,Supportive Management_aggr,63.388889,64.277778,63.166667,62.277778,65.888889,66.833333,0.0,69.611111,61.777778,...,68.444444,64.277778,58.277778,57.111111,60.111111,66.166667,0.0,62.944444,68.722222,NaN
23,Team and Community Feel_aggr,70.500000,69.000000,69.500000,71.500000,72.500000,72.500000,NaN,69.500000,70.000000,...,72.500000,70.500000,68.000000,69.500000,70.000000,75.000000,NaN,70.500000,69.500000,NaN

In [89]:
# Dropping the specified rows
df_filtered = df[
    ~df["Category"].isin(["Supportive Management", "Team and Community Feel"])
]

# Display the filtered DataFrame
print(df_filtered)

                                    Category    Overall  25 years or younger  \
2   Opportunities for Growth and Development  65.000000            62.000000
4               Job Satisfaction and Meaning  76.000000            68.000000
10                        Trust and Fairness  73.000000            71.000000
22                Supportive Management_aggr  63.388889            64.277778
23              Team and Community Feel_aggr  70.500000            69.000000

    26 years to 34 years  35 years to 44 years  45 years to 54 years  \
2              63.000000             66.000000             68.000000
4              73.000000             79.000000             83.000000
10             72.000000             72.000000             76.000000
22             63.166667             62.277778             65.888889
23             69.500000             71.500000             72.500000

    55 years or older  Unnamed: 7       1000       1400  ...  \
2           69.000000         NaN  63.000000  70.000000  ...
4           81.000000         NaN  75.000000  73.000000  ...
10          79.000000         NaN  81.000000  77.000000  ...
22          66.833333         0.0  69.611111  61.777778  ...
23          72.500000         NaN  69.500000  70.000000  ...

    Less than 2 years  2 years to 5 years  6 years to 10 years  \
2           67.000000           64.000000            61.000000
4           75.000000           75.000000            75.000000
10          75.000000           73.000000            70.000000
22          68.444444           64.277778            58.277778
23          72.500000           70.500000            68.000000

    11 years to 15 years  16 years to 20 years  Over 20 years  Unnamed: 4429  \
2              62.000000             64.000000      68.000000            NaN
4              79.000000             82.000000      83.000000            NaN
10             67.000000             71.000000      78.000000            NaN
22             57.111111             60.111111      66.166667            0.0
23             69.500000             70.000000      75.000000            NaN

    Full-time  Part-time  Weight
2   64.000000  67.000000    0.25
4   77.000000  69.000000    0.15
10  72.000000  77.000000    0.15
22  62.944444  68.722222     NaN
23  70.500000  69.500000     NaN

[5 rows x 4433 columns]

In [91]:
df_filtered.head(10)

,Category,Overall,25 years or younger,26 years to 34 years,35 years to 44 years,45 years to 54 years,55 years or older,Unnamed: 7,1000,1400,...,Less than 2 years,2 years to 5 years,6 years to 10 years,11 years to 15 years,16 years to 20 years,Over 20 years,Unnamed: 4429,Full-time,Part-time,Weight
2,Opportunities for Growth and Development,65.000000,62.000000,63.000000,66.000000,68.000000,69.000000,NaN,63.000000,70.000000,...,67.000000,64.000000,61.000000,62.000000,64.000000,68.000000,NaN,64.000000,67.000000,0.25
4,Job Satisfaction and Meaning,76.000000,68.000000,73.000000,79.000000,83.000000,81.000000,NaN,75.000000,73.000000,...,75.000000,75.000000,75.000000,79.000000,82.000000,83.000000,NaN,77.000000,69.000000,0.15
10,Trust and Fairness,73.000000,71.000000,72.000000,72.000000,76.000000,79.000000,NaN,81.000000,77.000000,...,75.000000,73.000000,70.000000,67.000000,71.000000,78.000000,NaN,72.000000,77.000000,0.15
22,Supportive Management_aggr,63.388889,64.277778,63.166667,62.277778,65.888889,66.833333,0.0,69.611111,61.777778,...,68.444444,64.277778,58.277778,57.111111,60.111111,66.166667,0.0,62.944444,68.722222,NaN
23,Team and Community Feel_aggr,70.500000,69.000000,69.500000,71.500000,72.500000,72.500000,NaN,69.500000,70.000000,...,72.500000,70.500000,68.000000,69.500000,70.000000,75.000000,NaN,70.500000,69.500000,NaN